n8n_hoko_shopify_sync.json
{
  "name": "Hoko → Shopify Sincronización Estados Guía",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": ["POST"],
        "path": "8b1a0d7d-55fe-40c4-876a-cd2394c82937",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-2080, -560],
      "id": "f21e5e1d-30aa-4f34-9599-805ce91e8bbe",
      "name": "Webhook Hoko",
      "webhookId": "8b1a0d7d-55fe-40c4-876a-cd2394c82937"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM pedidos WHERE hoko_order_id = $1",
        "queryParams": "={{ [$json.body.order_id] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1792, -560],
      "id": "6400d7fb-2ed2-4234-978d-f95c7d1ba44b",
      "name": "Buscar pedido en BD",
      "credentials": {
        "postgres": {
          "id": "AUUQo6meseDlDKmv",
          "name": "Postgres telocalizo tags"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pgRow = Array.isArray($json) ? $json[0] : $json;\nconst webhook = $('Webhook Hoko').first().json.body;\n\nif (!pgRow || !pgRow.hoko_order_id) {\n  // No se encontró pedido en BD — no es de la tienda\n  return [];\n}\n\nreturn {\n  hoko_order_id: pgRow.hoko_order_id,\n  shopify_order_id: pgRow.pedido_id,\n  last_state: Number(webhook.last_state),\n  guide_number: webhook.number,\n  guide_id: webhook.guide_id,\n  tracking_url: `https://hoko.com.co/tracking/${webhook.number}`,\n  customer_name: webhook.customer_name\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1488, -560],
      "id": "ea9ae86f-4b71-4487-b98c-0e65c9c5472f",
      "name": "Preparar datos"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://telocalizo-tags.myshopify.com/admin/api/2026-07/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "shpat_TU_TOKEN_SHOPIFY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query($id: ID!) {\\n  order(id: $id) {\\n    id\\n    name\\n    displayFinancialStatus\\n    displayFulfillmentStatus\\n    tags\\n    fulfillmentOrders(first: 10) {\\n      edges {\\n        node {\\n          id\\n          status\\n          requestStatus\\n          lineItems(first: 20) {\\n            edges {\\n              node {\\n                id\\n                lineItem { id name }\\n                remainingQuantity\\n              }\\n            }\\n          }\\n        }\\n      }\\n    }\\n    fulfillments(first: 5) {\\n      id\\n      status\\n      trackingInfo {\\n        number\\n        url\\n        company\\n      }\\n    }\\n  }\\n}\",\n  \"variables\": {\n    \"id\": \"gid://shopify/Order/{{ $json.shopify_order_id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-1088, -560],
      "id": "a7204022-fcca-49a6-898f-be373130a292",
      "name": "Obtener fulfillment orders Shopify"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.last_state }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "c1a1b1a1-0000-0000-0000-000000000001"
                  },
                  {
                    "leftValue": "={{ $json.last_state }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "c1a1b1a1-0000-0000-0000-000000000002"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "CANCELADA_ANULADA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.last_state }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "c1a1b1a1-0000-0000-0000-000000000003"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DESPACHADA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.last_state }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "c1a1b1a1-0000-0000-0000-000000000004"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ENTREGADA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.last_state }}",
                    "rightValue": 6,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "c1a1b1a1-0000-0000-0000-000000000005"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EN_NOVEDAD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.last_state }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "c1a1b1a1-0000-0000-0000-000000000006"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EN_REPARTO"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-880, -560],
      "id": "0897e256-857f-47cf-8a0c-587dad1ebb0f",
      "name": "Switch estado guía"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://telocalizo-tags.myshopify.com/admin/api/2026-07/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "shpat_TU_TOKEN_SHOPIFY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function(){\n  const fo = $json.data?.order?.fulfillmentOrders?.edges?.[0]?.node?.id;\n  const guide = $('Preparar datos').first().json;\n  return JSON.stringify({\n    query: \"mutation fulfillmentCreateV2($fulfillment: FulfillmentV2Input!) {\\n  fulfillmentCreateV2(fulfillment: $fulfillment) {\\n    fulfillment { id status }\\n    userErrors { field message }\\n  }\\n}\",\n    variables: {\n      fulfillment: {\n        lineItemsByFulfillmentOrder: [\n          { fulfillmentOrderId: fo }\n        ],\n        trackingInfo: {\n          number: guide.guide_number,\n          url: guide.tracking_url,\n          company: \"Hoko\"\n        },\n        notifyCustomer: true\n      }\n    }\n  });\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-400, -960],
      "id": "ae496b95-2ca8-411d-9498-528fb0371364",
      "name": "[2] DESPACHADA - Crear fulfillment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://telocalizo-tags.myshopify.com/admin/api/2026-07/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "shpat_TU_TOKEN_SHOPIFY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function(){\n  const fid = $json.data?.order?.fulfillments?.[0]?.id;\n  return JSON.stringify({\n    query: \"mutation fulfillmentEventCreate($fulfillmentEvent: FulfillmentEventInput!) {\\n  fulfillmentEventCreate(fulfillmentEvent: $fulfillmentEvent) {\\n    fulfillmentEvent { id status }\\n    userErrors { field message }\\n  }\\n}\",\n    variables: {\n      fulfillmentEvent: {\n        fulfillmentId: fid,\n        status: \"OUT_FOR_DELIVERY\",\n        message: \"Paquete en reparto - Hoko\",\n        notifyCustomer: true\n      }\n    }\n  });\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-400, -768],
      "id": "93a1b03b-d79d-410a-bd7c-d415e7ac31c7",
      "name": "[7] EN REPARTO - Evento out for delivery"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://telocalizo-tags.myshopify.com/admin/api/2026-07/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "shpat_TU_TOKEN_SHOPIFY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function(){\n  const fid = $json.data?.order?.fulfillments?.[0]?.id;\n  return JSON.stringify({\n    query: \"mutation fulfillmentEventCreate($fulfillmentEvent: FulfillmentEventInput!) {\\n  fulfillmentEventCreate(fulfillmentEvent: $fulfillmentEvent) {\\n    fulfillmentEvent { id status }\\n    userErrors { field message }\\n  }\\n}\",\n    variables: {\n      fulfillmentEvent: {\n        fulfillmentId: fid,\n        status: \"DELIVERED\",\n        message: \"Paquete entregado - Hoko\",\n        notifyCustomer: true\n      }\n    }\n  });\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-400, -560],
      "id": "0ddb60f8-5118-4808-9d51-a40f5c9632db",
      "name": "[3] ENTREGADA - Evento delivered"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://telocalizo-tags.myshopify.com/admin/api/2026-07/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "shpat_TU_TOKEN_SHOPIFY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function(){\n  const currentTags = $json.data?.order?.tags || [];\n  const tagsArr = Array.isArray(currentTags) ? currentTags : String(currentTags).split(',').map(t => t.trim());\n  if (!tagsArr.includes('novedad-hoko')) tagsArr.push('novedad-hoko');\n  const guide = $('Preparar datos').first().json;\n  return JSON.stringify({\n    query: \"mutation orderUpdate($input: OrderInput!) {\\n  orderUpdate(input: $input) {\\n    order { id tags }\\n    userErrors { field message }\\n  }\\n}\",\n    variables: {\n      input: {\n        id: \"gid://shopify/Order/\" + guide.shopify_order_id,\n        tags: tagsArr.join(',')\n      }\n    }\n  });\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-400, -352],
      "id": "b876a0f0-97fe-437a-af05-44d19b5fa1f3",
      "name": "[6] EN NOVEDAD - Marcar orden"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://telocalizo-tags.myshopify.com/admin/api/2026-07/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "shpat_TU_TOKEN_SHOPIFY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function(){\n  const fid = $json.data?.order?.fulfillments?.[0]?.id;\n  if (!fid) {\n    return JSON.stringify({ query: \"query { shop { name } }\", variables: {} });\n  }\n  return JSON.stringify({\n    query: \"mutation fulfillmentCancel($fulfillmentId: ID!) {\\n  fulfillmentCancel(fulfillmentId: $fulfillmentId) {\\n    fulfillment { id status }\\n    userErrors { field message }\\n  }\\n}\",\n    variables: { fulfillmentId: fid }\n  });\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-400, -160],
      "id": "68ac510a-5ec2-4085-97c7-0cdcff81f1f4",
      "name": "[0/4] CANCELADA/ANULADA - Cancelar fulfillment"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-400, 48],
      "id": "2955f766-b02f-46c0-879f-dacb566cb11d",
      "name": "Sin acción (resto de estados)"
    }
  ],
  "connections": {
    "Webhook Hoko": {
      "main": [
        [
          {
            "node": "Buscar pedido en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar pedido en BD": {
      "main": [
        [
          {
            "node": "Preparar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos": {
      "main": [
        [
          {
            "node": "Obtener fulfillment orders Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener fulfillment orders Shopify": {
      "main": [
        [
          {
            "node": "Switch estado guía",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch estado guía": {
      "main": [
        [
          { "node": "[0/4] CANCELADA/ANULADA - Cancelar fulfillment", "type": "main", "index": 0 }
        ],
        [
          { "node": "[2] DESPACHADA - Crear fulfillment", "type": "main", "index": 0 }
        ],
        [
          { "node": "[3] ENTREGADA - Evento delivered", "type": "main", "index": 0 }
        ],
        [
          { "node": "[6] EN NOVEDAD - Marcar orden", "type": "main", "index": 0 }
        ],
        [
          { "node": "[7] EN REPARTO - Evento out for delivery", "type": "main", "index": 0 }
        ],
        [
          { "node": "Sin acción (resto de estados)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook Hoko": [
      {
        "headers": {
          "host": "n8n.srv1054162.hstgr.cloud",
          "user-agent": "GuzzleHttp/7",
          "content-length": "208",
          "content-type": "application/json",
          "x-forwarded-for": "3.19.187.46",
          "x-forwarded-host": "n8n.srv1054162.hstgr.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "6c6c6c343b15",
          "x-real-ip": "3.19.187.46",
          "accept-encoding": "gzip"
        },
        "params": {},
        "query": {},
        "body": {
          "order_id": 2397426,
          "guide_id": 2317557,
          "number": "240056782136",
          "last_state": 2,
          "customer_name": "Julio Cesar Cañadas Cuesta",
          "email": "juliocesarcanadas@gmail.com",
          "phone": "3143646682",
          "guide_histories": []
        },
        "webhookUrl": "https://n8n.srv1058342.hstgr.cloud/webhook/8b1a0d7d-55fe-40c4-876a-cd2394c82937",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "instanceId": "45ac23801e9d1332c201ccf245039b9fefbc9b244db6d6c4f681f56e0fc3d749"
  }
}
